html,body,section {
    height: 100%;
    overflow: hidden;
}


.layout {
    width: 600px;
    margin: 0 auto;
}


@media (min-width: 700px) {
    .layout {
      width: 600px;
    }
  }
  
@media (min-width: 900px) {
    .layout {
        width: 800px;
    }
}

@media (min-width: 1000px) {
    .layout {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .layout {
        width: 1100px;
    }
}

#page-cover {
    display: none;
    height: 100%;
}

#page-music main {
    padding-top: 12vh;
    height: calc(100% - 24vh);
    display: flex;
}

#page-music footer {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255,255,255,0.6);
    box-shadow: 0px -0.25vh 0.25vh 0.25vh rgba(255,255,255,0.2);
}

.aside figure {
    height: 46vh;
    width: 46vh;
    background: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big) center center no-repeat;
    background-size: cover;
}

.aside .action {
    margin-top: 5vh;
    display: flex;
}

.aside .action .iconfont {
    font-size: 5vh;
    flex: 1;
    text-align: center;
    color: rgba(255,255,255,0.4);
    transition: color .4s;
    cursor: pointer;
}

.aside .action .iconfont:hover {
    color: #FFF;
}


.detail {
    color: #FFF;
    padding-left: 8vh;
    flex-grow: 1;
}

.detail .icons {
    margin-top: 12vh;
    display: flex;
}

.detail .music-title {
    margin-top: 4vh;
    font-size: 6vh;
}

.detail .author {
    margin-top: 2vh;
    font-size: 3vh;
}

.detail .lyric {
    margin-top: 2vh;
}

.detail .icons>li {
    flex-grow: 1;
}

.detail .iconfont {
    font-size: 2.8vh;
}

.detail .icons span::before{
    margin-right: 1vh;
}

.detail .area-bar {
    margin-top: 6vh;
    display: flex;
    align-items: center;
}
.detail .bar {
    position: relative;
    height: 0.35vh;
    background-color: #ffffffa6;
    margin-right: 0.8vh;
    flex: 1
}

.detail .bar-progress{
    position: absolute;
    height: 0.3vh;
    width: 10%;
    background-color: #FFF;
    transition: width 0.8s;
}

.detail .tag {
    font-size: 2vh;
    padding: .4em .8em;
    background-color: #2e6eec;
}

.bg {
    position: absolute;
    background: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big) center center no-repeat;
    background-size: cover;
    z-index: -1;
    top: -10px;
    right: -10px;
    bottom: -13px;
    left: -10px;
    filter: blur(4px)
}
.bg::after{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.4)
}

.box {
    position: relative;
    height: 24vh;
    overflow: hidden;
}

.box>ul {
    position: absolute;
    width: 900px;
}

.box>ul::after{
    clear: both;
    display: block;
    content: '';
}

.box>ul>li {
    float: left;
    margin: 2vh;
    height: 20vh;
    width: 20vh;
    cursor: pointer;
}

.box>ul>li.active {
    box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.8);
}

.box>ul>li:hover {
    box-shadow: 0 0 0.5vh 0.5vh rgba(255,255,255,0.8);
}

.box .cover {
    height: 15vh;
    background-size: cover;
}

.box h3 {
    text-align: center;
    margin-top: 2vh;
}

footer .layout {
    position: relative;
}

footer:hover .iconfont{
    opacity: 1;
}

.layout>span {
    opacity: 0;
    top: 4vh;
    position: absolute;
    font-size: 6vh;
    transition: all .4s;
    cursor: pointer;
}

.layout>span:hover {
    color: rgba(255, 255, 255, 0.8)
}

.layout .icon-left {
    left: -8vh;
}

.layout .icon-right {
    right: -8vh;
}

.boomText {
    display: inline-block;
    opacity: 0;
}